body {
    background: url(./assets/imgs/aq_bg.jpg) no-repeat center center fixed;
}

.wow {
    text-align: center;
    height: 150px;
}

.upload-section {
    margin: 0 auto;
    max-width: 500px;
    padding-bottom: 50px;
}
.rdt_Table, .rdt_TableHeader {
    background: rgba(0,0,0,0.65) !important;
}
.rdt_TableRow {
    font-size: 1rem !important;
}

.rdt_TableCol_Sortable {
    font-size: 1rem !important;
    color: #fff !important;
}

.marginBottom {
    padding-bottom: 50px;
}

.lastmodify {
    color: red;
    font-weight: bold;
    text-align: center;
}

.rdt_TableHeader {
    display: none !important;
}

.footer-container {
    margin-top: 50px;
    background: #343a40 !important;
    position: fixed;
    bottom: 0px;
}

.footer-content {
    text-align: center;
    padding: 10px;
    color: #fff;
}

.last-update {
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.download-excel {
    vertical-align: bottom;
    text-align: right;
    padding-bottom: 5px;
}

.export-icon {
    color: #F5F5F5;
}
.export-icon:hover {
    color: #DCDCDC;
}
.export-text{
    color: #F5F5F5;
}